<footer class="footer-all">
  <div class="top-link"><%= link_to "Rest-timer", alarms_path, class: "link-font" %></div> 
  <ul class="sub-links">
    <li><%= link_to "GET STARTED", "#", class: "sub-link" %></li>
    <li><%= link_to "GET HELP", "#", class: "sub-link" %></li>
    <li><%= link_to "ABOUT US", "#", class: "sub-link" %></li>
  </ul>
</footer>